<h1 class="title"> Rock 👊. Paper 🧻. Scissor ✂️ </h1>
<h4 class="message" *ngIf="status === 'IDLE'"> Waiting for choice... </h4>

<div class="wins-losses-tracker">
  <div class="wins">
    <h1> {{ winLossTracker?.winsX }} Wins </h1>

  </div>
  <div class="losses">
    <h1> {{ winLossTracker?.winsY }} Wins </h1>

  </div>
</div>

<section class="game">
  game
</section>

<div class="win-lose-container" >
  <h1 *ngIf="status === 'LOSE'"> You Lost :( </h1>
  <h1 *ngIf="status === 'WON'"> You Won ! </h1>
</div>



