<h1 class="title"> Rock 👊. Paper 🧻. Scissor ✂️ </h1>

<div class="wins-losses-tracker">
  <div class="wins">
    <h1> {{ winLossTracker?.wins }} Wins </h1>

  </div>
  <div class="losses">
    <h1> {{ winLossTracker?.losses }} Losses </h1>

  </div>
</div>

<section class="game-container">
  <div class="game">
    <div class="selection-item" (click)="setSelection('ROCK')">
      <h1 class="rock">👊</h1>
      Rock
    </div>

    <div class="selection-item" (click)="setSelection('PAPER')">
      <h1 class="paper">🧻</h1>
      Paper
    </div>

    <div class="selection-item" (click)="setSelection('SCISSOR')">
      <h1 class="scissor">✂️</h1>
      Scissor
    </div>
  </div>
</section>

<div class="win-loss-container" >
  <h1 *ngIf="status === 'LOSE'"> You Lost :( </h1>
  <h1 *ngIf="status === 'WIN'"> You Won !! </h1>
  <h1 *ngIf="status === 'TIE'"> It was a Tie ! </h1>
</div>



