.game-container {
  height: 60%;
}

.game {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selection-item {
  cursor: pointer;
}

.rock, .paper, .scissor {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotateY(180deg);
  }
}

.title, .message {
  text-align: center;
  font-weight: 300;
}

.win-loss-container {
  text-align: center;
}

.wins-losses-tracker {
  display: flex;
  justify-content: space-around;
}

.wins, .losses {
  display: inline-block;
}

h1 {
  border: none;
}

.side-1 {
  width: 45%;
  height: 90%;
  border: 1px dotted blue;
  padding: 10px;
}

.side-2 {
  width: 45%;
  height: 90%;
  padding: 10px;
  border: 1px dotted black;
}

section, .full-height {
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
