<h1>Trivia</h1>

<p class="correct"> Correct: {{ score.correct }} </p>
<p class="incorrect"> Incorrect: {{ score.incorrect }} </p>

<div *ngFor="let question of questions; let i = index">
  <div class="trivia-container" *ngIf="i === currentQuestionIndex && i !== questions?.length">
    <app-question
      [question]="question">
    </app-question>

    <div class="answer-container">
      <app-option
        class="option"
        [correct]="question?.correct_answer"
        [incorrect]="question?.incorrect_answers"
        (answered)="onAnswered($event)">
      </app-option>
    </div>
  </div>
</div>

<p *ngIf="message"> {{ message }} </p>
<button type="button" *ngIf="message" (click)=reset()> Reset </button>
