<app-search
  (searched)="onSearch($event)">
</app-search>

<div [ngSwitch]="status">
  <h1 *ngSwitchCase="'LOADING'"> Loading... </h1>
  <h1 *ngSwitchCase="'ERROR'"> Error </h1>
</div>


<div *ngIf="status === 'FINISHED'">
  <section
    class="grid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <app-image class="image"
      *ngFor="let image of images, trackBy: trackByFn()"
      [url]="image?.urls?.small">
    </app-image>

  </section>
</div>



